@import "../../global.scss";
.about {
  flex-direction: column;
  justify-content: center;

  > * {
    width: 100%;
  }
  .title {
    height: 10%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 1.8rem;
      text-align: center;
    }
  }

  .personalSkills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 20%;
    flex-wrap: wrap;
  }

  .lowerContainer {
    height: 70%;
    display: flex;
    justify-content: center;
    align-content: center;

    > * {
      width: 50%;
      height: 100%;
    }

    .technicalSkills {
      align-self: center;
      display: grid;
      height: 60%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      align-content: center;
    }
  }
  @media (max-width: $smallScreen) {
    padding-bottom: 1.5em;
    h1 {
      font-size: 1.5rem;
    }
    .lowerContainer {
      flex-direction: column;

      > * {
        width: 100%;
      }
      .personalDetails {
        height: 70%;
      }
      .technicalSkills {
        height: 30%;
      }
    }
  }
  
}
