@import "../../../global.scss";

.projectDetailsWraper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
    position: relative;
  }

.text{

}
 .links{

}
.linkBtn{

}


.skillIconsBox{
    height: 12%;
    width:100% ;
    background-color: chartreuse;
    display: flex;
   flex-direction: row;
   justify-content: flex-start;
   justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left:0
    

   
}
.skillIcon{
    object-fit: fill;
}

