@import "../../../global.scss";

.projectDetailsWraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  position: relative;
  height: 100%;
  width: 45%;
  padding: 0.5em;
  box-sizing: border-box;

  .text {
    //align-self:flex-start;
    .discriptions {
      padding: 0.5em 0;
      line-height: 1.3;
    }
  }

  .btnsWraper {
    margin-bottom: 0.5em;
    max-width: 160px;
    display: flex;
    justify-content: space-between;

    .btn {
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
     // border: 1px solid #303030;
     background: #212121;
        color: $mainColor;
      border-radius: 20px;
      
      
    }

    .btn:hover {
      color: $fontColor;
      background-color: $mainColor;
      font-weight: 600;
   
    }
  }

  .skillIconsBox {
    height: 17%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.3em;
    .skillIcon {
      object-fit: fill;
      padding-right: 0.2em;
    }
  }
}
@media (max-width: $smallScreen) {
  .projectDetailsWraper {
    .btnsWraper {
      margin-bottom: 0.2em;

      .btn {
        padding: 10px;
      }
      
    }

    .text {
      .discriptions {
        font-size: 0.8rem;
      }
    }

    .skillIconsBox {
      height: 20%;
      
      .skillIcon {
        object-fit: fill;
        padding-right: 0.2em;
      }
    }
  }
  
}
