.aboutPage {
  background-color: aquamarine;
}

.skillsIconsContainer {
    width: 100%;
    height: 20%;
    background-color: gold;
}
.detailsContainer {
    width: 100%;
    height: 70%;
    background-color: green;
    display: flex;
    flex-direction: row;
}
.personalDetails {
    width: 40%;
    height: 100%;
    background-color: gray;
}
.skillsChart {
    width: 60%;
    height: 100%;
    background-color: coral;
}
