@import "../../../global.scss";
.contactIconsWraper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .link {
    display: block;
    width: 30px;
    box-sizing: border-box;
    overflow: hidden;
    .contactIcon {
      fill: $fontColor;
      cursor: pointer;
    }
  }

  .contactIcon:hover {
    fill: $hoverMainColor;
  }

  @media (max-width: $smallScreen) {
    justify-content: space-evenly;
  }
}
