@import "../../../global.scss";
.contactIconsWraper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .contactIcon {
    max-width: 100%;
    max-height: 50%;
    fill: $fontColor;
    cursor: pointer;
  }
  .contactIcon:hover {
    fill: $hoverMainColor;
  }

  @media (max-width: $smallScreen) {
    justify-content: space-evenly;
  }
}
