@import "../../global.scss";
.topBar {
  height: $topBarHeight;
  width: 100vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: $fontColor;
  font-size: 1.2rem;
  z-index: 10;

  .contactIconsWraper {
    width: 20%;
    height: 90%;
  }

  .copyRights {
    line-height: normal;
  }

  @media (max-width: $smallScreen) {
    .contactIconsWraper {
      width: 50%;
    
    }
  }
}
