@import "../../global.scss";

.sideNav {
  position: fixed;
  right: 0.5em;
  top: 40%;
  z-index: 10;
  width: 4vw;

  ul {
   
    li {
      //
      .svgIcons {
        padding: 10px;
        border-radius: 100%;
        text-align: center;
        border: 1px solid black;
        height: 30px;
        width: 30px;
        //font-size: 2rem;
        cursor: pointer;
        fill: $fontColor2 ;
        background-color:$hoverMainColor;
      }
    }
  }
}
