@import "../../global.scss";

.sideNav {
  position: fixed;
  right: 0.5em;
  top: 35%;
  z-index: 10;
  display: flex;
  flex-direction: column;


  .linksSideBar {
    display: flex;
    text-align: center;
    cursor: pointer;
    background: $mainColor;
    border-radius: 100%;
 
    padding: 10px;
    margin-bottom: 10px;
    .svgIcons {
      height: 1.2em;
      width: 1.2em;
      fill: $fontColor;
    }
  }
  li:hover {
    background: $bgColor;
    .svgIcons {
      fill: $hoverMainColor;
      transition: all 0.4s ease-out;
    }
  }
  @media (max-width: 800px) {

    flex-direction: row;
    bottom: 0.5em;
    left: 35%;
    top: auto;

    .linksSideBar{
      margin-right: 10px;
    }
    

  }
}


