.skillCard {
  width: 15%;
  height: 100%;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    text-align: center;
  }

  .icon {
    width: 60%;
    height: 60%;
    background-color: green;
    border: 1px solid;
  }

  .description {
    width: 100%;
    height: 40%;
    background-color: grey;
  }

  
}
