.contactPage {
 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 4fr;
  justify-content: center;
  padding-bottom: 3em;
  box-sizing: border-box;

  h1 {
    grid-area: header;
   
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .img {
    
   
    background-image: url("../../../public//feedback-animate.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
 
}
  .formWraper {
   
  }
}
