@import "../../global.scss";

.contactPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .img {
    background-image: url("../../../public//feedback-animate.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50%;
    height: 80%;
  }
  .contactRightSide {
    width: 90%;
    height: 90%;
  }
  .success {
    text-align: center;
    h2 {
      font-size: $fontSize;
    }
  }

  @media (max-width: $smallScreen) and (orientation: portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;

    grid-template-areas:
      "form"
      "img";
    .success {
      h2 {
        font-size: 2rem;
      }
    }
  }
  @media (max-width: 800px) {
    //for ipad mini
    align-content: space-between;
  }
}
