@import "../../global.scss";
.homePage {
  display: flex;
  flex-direction: row;

  > * {
    height: 100%;
    width: 50%;
  }

  .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .p1 {
      font-size: 1.3rem;
    }
    .p2 {
      font-size: 2.8rem;
      color: $mainColor;
     // box-shadow: $boxShadow;
      font-weight: 800;
    }
    .p3 {
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 1.5;
    }

    

  }
  .right {
    width: 40%;
    background-image: url("../../../public/coding-animate.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    
  }

  //grid-area: right;
}
.homeImage {
}

@media (max-width: $smallScreen) {
  .homePage {
    flex-direction: column;
    > * {
      width: 100%;
    }
    .left {
      height: 60%;
      width: 100%;
      padding-left: 10px;
    }
    .right {
      height: 40%;
      width: 100%;
    }
  }
}
