@import "../../global.scss";
.homePage {
 display: flex;
 flex-direction: row;
 
  > * {
    height: 100%;
    width: 50%;
  }

  .left {
    background-color: yellowgreen;
    
  }
  .right {
    background-color: blue;
    background-image: url("../../../public/coding-animate.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    //grid-area: right;
  }
}

@media (max-width: $smallScreen) {
  .homePage {
   flex-direction: column;
  > *{
    height: 50%;
    width: 100%;
   }
  }
}
