@import "../../global.scss";

.onlyPortrait {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:20;
  display : none;
  background-color: $bgColor;
  background-image: url("../../assets/images/rotate.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;


  @media (orientation: landscape) and (max-width: $landScapeWidth) {
    display : block;
  }

}
