@import "../../../global.scss";

.screenShotsWraper {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 85% 15%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  .sideBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      fill: $fontColor2;
    }
    visibility: hidden;
  }
  &:hover {
    .sideBtn {
      visibility: visible;
    }
  }

  .mainImage {
    height: 90%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .smallCorsela {
    grid-column: 2 / 3;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .smallImage {
      width: 5vmin;
      height: 5vmin;
      margin-right: 5px;
     
    
    }
    
  }
}

/*.selectedIcon {
}
.smallImage:after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.smallImage:hover::after {
  background-color: #ffffcc;
  border: 2px yellowgreen solid;
}*/
