@import "../../global.scss" ;
.personalDetails {
  height: 100%;
 padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
 


  > *{
    font-size: $fontSize;

  }

  .profilePic {
    width: 25vmin;
    height: 25vmin;
   
    background-image: url("https://i.ibb.co/w4myNYG/profile.jpg");
     border-radius: 50%;
  }

  .pDetails {
    width: 90%;
    text-align: center;
    padding: $textPadding;
    //font-size: $fontSize;
    font-weight: 500;
    
  }
  

  @media (max-width :$smallScreen ) {

    > * {
      font-size: $fontSizeMobile;

    }
    .profilePic {
      width: 30vmin;
      height: 30vmin;
    }
    .pDetails {
      width: 100%;
      padding: 0 0.3em;
      font-size: $fontSizeMobile;
      box-sizing: border-box;
      overflow: hidden;
    }
  

  }
  


}




