.contactIconsWraper{
    display: flex ;
    
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 15%;
    width: 30%;
}

.contactIcon {
  padding: 10px; 
   max-width: 100%;
   max-height: 100%;
   fill: red;
 
}