.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: blueviolet;
  top:1em ;
  right: 1em;
}
.navCircle {
}
.burgerIcon {
}
.closeIcon {
}
.navMenu {
}
.navItem {
}
