.navContainer{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
  height: 50%;
  width: 50%;
    background-color: blueviolet;
}
.navIcon{
}
.burgerIcon{

}
.closeIcon{

}
.navMenu{

}
.navItem{

}