.projectsPage{
 background-color: coral;
 overflow-y: scroll;
 justify-content: center;
 justify-items: center;
}
.projectContainer{
    height:80vh;
    width: 90vw;
    display: flex;
    margin: 10px;
    
    
}
.projectDetailsBox{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: brown;
}
.projectScreenShoots{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: yellow;
}

