@import "../../global.scss";

.projectsPage {
  //height: fit-content;

  .projectContainer {
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(55,63,80,.25);

  }
  
}

.screenShotsWraper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
  background-color: yellow;
}