.projectsPage {
  background-color: coral;
  justify-content: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
  
}
.projectContainer {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 2em;
  background-color: red;
}
.projectDetailsBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
  background-color: brown;
  position: relative;
}
.screenShotsWraper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
  background-color: yellow;
}
