.projectsPage {
  background-color: coral;
  justify-content: center;
}
.projectContainer {
  height: 80%;
  width: 90%;
  display: flex;
  margin: 2em;
  background-color: red;
}
.projectDetailsBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  background-color: brown;
}
.screenShotsWraper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  background-color: yellow;
}
