@import "../../global.scss";

.projectsPage {
  min-height: fit-content;
 

  .projectContainer {
    height: 40vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(55, 63, 80, 0.25);
    margin-bottom: 1em;
  }
}
@media (max-width: $smallScreen) {
  .projectsPage{
    .projectContainer{
      flex-direction: column-reverse;
      height: 70vh;
      > * {
        height: 50%;
        width: 100%;
      }
    }
  }
}
@media (orientation: landscape) and (max-width : $landScapeWidth) {
  .projectsPage{
    .projectContainer{
     
      height: 90vh;
     
    }
  }
}

