* {
  margin: 0;
  padding: 0;
}

:root{
  /*$backgroundColor: #191d24;
  $mainColor: #35bf65;
  $hoverMainColor: #3bd672;
  $fontColor: #eae3dc;
  $fontColor2: #21262f;
  $boxShadow: -10px 10px 20px -4px rgba(0,0,0,.55);
  $pagePadding: 1rem 5rem;*/
}
$bgColor: #191d24;
  $mainColor: #35bf65;
  $hoverMainColor: #3bd672;
  $fontColor: #eae3dc;
  $fontColor2: #21262f;
  $boxShadow: -10px 10px 20px -4px rgba(0,0,0,.55);
  $pagePadding: 1rem 5rem;

.app {
  height: 100vh;
  .sections{
    width: 100%;
    height: 100%;
    background-color: $bgColor;
    color:$fontColor ;
    position: relative;
    top: 0;
    > *{
      width: 100vw;
      height: 100vh;
    }

  }

}
/*.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
general pages sittings */
/*.pages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}
.title {
  width: 100%;
  height: 10%;
  background-color: red;
  text-align: center;
}
.centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}*/