@import "./global.scss";
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  font-family: $font;
  line-height: normal;
  background-color: $bgColor;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;

  .bgImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .greenFont {
    color: $mainColor;
  }

  .sections {
    width: 100%;
    height: calc(100vh - #{$topBarHeight});
    color: $fontColor;
    margin-left: auto;
    margin-right: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    align-self: center;

    @media (min-width: 600px) {
    }

    > * {
      max-width: 1200px;
      height: calc(100vh - #{$topBarHeight});

      h1 {
        font-size: 1.8rem;
        text-align: center;
      }
      /*@media (max-width: $smallScreen) {
        width: 100vw;
       
      }*/
    }
  }
}
