@import "./global.scss";
* {
  margin: 0;
  padding: 0;
  //overflow-x: hidden;
  box-sizing: border-box;

}

.app {
  font-family: $font;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #191d24;

  .bgImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .greenFont {
    color: $mainColor;
  }

  .sections {
    width: fit-content;
    height: calc(100vh - #{$topBarHeight});
    color: $fontColor;
    margin-left: auto;
    margin-right: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    justify-content: center;
   

    &::-webkit-scrollbar {
      display: none;
    }
    align-self: center;
    box-sizing: border-box;
    padding-bottom: 2rem;

    .pages{
      max-width: 1200px;
      height: calc(100vh - #{$topBarHeight});

      h1 {
        font-size: 1.8rem;
        text-align: center;
      }
      
    }
    @media (orientation: landscape) and (max-width: $landScapeWidth) {
      .about,
      .projects ,.contactPage {
        height: fit-content;
      }
    }
  }
}