$bgColor: #191d24;
$mainColor: hsl(141, 57%, 48%);
$hoverMainColor: #3bd672;
$fontColor: #eae3dc;
$fontColor2: #21262f;
$boxShadow: -10px 10px 20px -4px rgba(0, 0, 0, 0.55);
$pagePadding: 1rem 5rem;
$topBarHeight : 60px ; 
$smallScreen : 960px ;
$bigScreen : 1200px ;
$textPadding : 0.5rem 0.5rem ;
$mobileTextPadding : 5px 30px; 
$bgPro : center no-repeat contain; 
$fontSize : 1rem ; 
$fontSizeMobile : 0.775rem ;  
$landScapeWidth : 900px ; 


@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
$font :'Exo', sans-serif;

