@import-normalize; /* bring in normalize.css styles */

html {
  
  //box-sizing: border-box;
}

*, *:before, *:after {
  font-size: inherit;
  box-sizing: inherit;
}

/* prevent images from overflowing */
img{ 
  max-width: 100%;
}
