@import-normalize; /* bring in normalize.css styles */

html {
  
  $backgroundColor: #191d24;
    $mainColor: #35bf65;
    $hoverMainColor: #3bd672;
    $fontColor: #eae3dc;
    $fontColor2: #21262f;
    $boxShadow: -10px 10px 20px -4px rgba(0,0,0,.55);
    $pagePadding: 1rem 5rem;
  //box-sizing: border-box;
}

*, *:before, *:after {
  font-size: inherit;
  box-sizing: inherit;
}

/* prevent images from overflowing */
img{ 
  max-width: 100%;
}
